* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-left: 0;
    margin-right: 0;
    background-color:#9cd9c8;
}

#title {
    display:flex;
    text-align:center;
    justify-content: center;
}
#btn-container{
    display:flex;
    justify-content:space-evenly;

}
 #resultContainer {
     display:flex;
     border: solid;
     height:200px;
     width:300px;
     ;
 }