* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0px;
}

html{
    background: rgb(8, 0, 60);
    background: linear-gradient(180deg, rgba(8,0,60,1) 0%, rgba(5,0,62,1) 100%);  
    height:100%;
}
nav{
    display:flex;
    background-color:#05011f;
    justify-content:center;
    padding:30px;
}
    
#rpstitle {
    display:flex;
    color:white;
    margin-left:auto;
    margin-right:auto;
}

#title {
    color: white;
    display:flex;
    text-align:center;
    justify-content: center;
    margin-top:30px;
    font-size: 15   pt;
}

.btn{
    border-radius: 20pt;
    width:100px;
    height:35px;
    background-color:#414141;
    color:white;
    border-color:#414141;
}
#rockbtn:hover, #paperbtn:hover,  #scissorsbtn:hover{
    border: solid gold 3pt;
}
#rockbtn:active, #paperbtn:active,  #scissorsbtn:active{
    background-color: gold;
    color: #414141;
}

#btnContainer{
    display:flex;
    justify-content: space-evenly;
    margin-top:40px;
}

 #resultContainer {
    display:flex;
    margin-left:auto;
    margin-right:auto;
    margin-top:50px;
    justify-content:center;
    align-items:center;
    background-color:white;         
    border: solid;
    height:100px;
    width:300px;
 }

 #computerbtn {
    display:flex;
    justify-content:space-evenly;
    margin-top: 40px;
 }

 #compRock:active, #compPaper:active, #compScissors:active{
    background-color:gold;
    color:#414141;
 }

 #resultPara {
    background-color:white;
    text-align: center;
 }
